ul li{
    font-family: Arial, Helvetica, sans-serif;
}
p, span, ol li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*{
    color:white;
    background-color: black;
}
h1.yellow{
    color:yellow;
}
.tulisan_mono{
    font-family: monospace;
}
